body {
	font-family: arial;
	color: white;
	background-color: #005288;
	margin: 0;
}

h1, p {
	text-align: center;
	color: white;
}

h1 {
	font-size: 2em;
}

p {
	font-size: 1.3em;
}

img {
	width: 70%;
	padding-top: 20px;
	padding-bottom: 30px;
}

.spacex {
	margin-left: 50px;
}

.weather {
	margin-top: 5vw;
	padding-left: 10px;
	padding-right: 10px;
}

.inline {
	display: inline-block;
	color: white;
}

figure {
	text-align: center;
	/*padding-top: 10px;*/
	padding: 0;
	margin: 0;
	background-color: white;
}

#map {
	color: #111;
	width: 100%;
	height: 50vh;
	margin: 0;

}

#map img {
	display: block;
	float: left;
	max-width: 100px;	
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-row-gap: 10px;
	grid-auto-rows: auto auto;
	color: #000;
}

.block {
	text-align: center;
	padding-top: 20px;
}

input[type="submit"] {
  display: block;
  position: relative;
  left: 34%;
  top: 20%;
  padding: 3vw 10vw;
  background: #e7e7e7;
  border: none;
  border-radius: 20px;
  font-weight:bold;
  font-size: 1em;
  margin-top: 20px;
}

.input input[type="text"] {
  height: 10vw;
  width: 75vw;
  background: #e7e7e7;
  text-aling: center;
  padding-left: 5vw;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 20px;
  font-weight:bold;
  font-size: 1.2em;
}

.card {
  font-size: 25px;
  padding: 5px;
  text-transform: uppercase;
  color: white;
}

.container {
	margin-top: 25px;
	margin-bottom: 50px;
	background: green;
}

#city, #temp, #description {
	margin-left: 20px;
}

.landing, .weather {
		grid-column: 1/13;
	}

	.landing {
		height: 50vh;
	}


@media only screen and (min-width: 512px) {
	.block {
		padding-top: 0;
	}

	.input {
		width: 45%;
		display: inline-block;
		vertical-align: top;
		margin-top: 7vw;
	}

	.input input[type="text"] {
		width: 30vw;
		height: 8vw;
		font-size: 16px;
	}

	.input input[type="submit"] {
		left: 29%;
		font-size: 14px;
		padding: 2vw 5vw;
	}

	.container {
		width: 50%;
		display: inline-block;
		height: 30vw;
		padding-top: 2vw;
	}

	.weather {
		padding-left: 5px;
		padding-right: 5px;
	}
}

@media only screen and (min-width: 768px) {
	.block {
		height: 35vw;
	}
	
	.weather, h1, p {
		text-align: left;
		padding-left: 3vw;
	}

	p {
		max-width: 45%;
	}

	h1 {
		line-height: 0.8em;
	}

	.input input[type="submit"] {
		left: 0;
		margin-left: 1vw;
		border-radius: 50px;
	}

	.input input[type="text"] {
		text-align: left;
		margin-left: -6vw;
	}

	.input {
		margin-top: 2vw;
		padding-left: 0;
	}

	.container {
		position: relative;
		right: 0;
		top: -20vw;
		height: 40vw;
	}
}

@media only screen and (min-width: 1024px) {
	.grid {
		grid-column-gap: 24px;
	}

	.landing {
		grid-column: 1/8;
	}

	.weather {
		grid-column: 8/13;
	}

	.input {
		margin-top: 20px;
	}

	.name {
		margin: 15px 5px 5px 5px;
	}
	.container {
		width: 50%;
		height: 100%;
	}


}
